on:
  push:
    branches: ["main"]

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  DOTNET_VERSION: 9.0.x

jobs:
  build:
    runs-on: macos-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Restore workloads
        working-directory: src
        run: dotnet workload restore
      - name: Build
        run: dotnet build src/jc-google-mobile-ads-ios.sln --configuration Release
      - name: Test
        run: dotnet test src/jc-google-mobile-ads-ios.sln --configuration Release --no-build
      - name: Pack
        run: dotnet pack src/jc-google-mobile-ads-ios.sln --configuration Release --no-build --output .
      - name: Push
        run: dotnet nuget push *.nupkg --source https://api.nuget.org/v3/index.json --skip-duplicate --api-key ${{ secrets.NUGET_APIKEY }}
